<div class="task-lists">
  <app-task-list *ngFor="let list of lists" class="list-container">
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (moveAll)="launchCopyTaskDialog()"
      (deleteTask)="launchConfirmDialog()"
      (editList)="launchEditListDialog()"
    ></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="launchUpdateDialog(task)"
    ></app-task-item>
  </app-task-list>
</div>
<button class="fab-button" md-fab type="button" (click)="launchNewListDialog()">
  <md-icon>add</md-icon>
</button>
