<md-sidenav-container [class.my-app-dark-theme]="darkTheme">
  <md-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar>
  </md-sidenav>
  <div class="site">
    <header>
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <!--<router-outlet></router-outlet>-->
      <!--<span class="fill-remaining-space"></span>-->
      <div class="square" [@square]="squareState" (click)="onClick()"></div>
      <!--<span class="fill-remaining-space"></span>-->
    </main>
    <footer>
      <app-footer>
      </app-footer>
    </footer>
  </div>
</md-sidenav-container>
