<form>
  <md-card>
    <md-card-header>
      <md-card-title>登录：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="your email address">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="your password">
      </md-input-container>
      <button md-raised-button type="button">登录</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户?<a href="">注册</a></p>
      <p>忘记密码?<a href="">找回</a></p>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>每日佳句</md-card-title>
      <md-card-subtitle>高级的感情，最终形成精神和意识；低级的感情，只能沦为脾气和情绪。</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/quote_fallback.jpg" alt="">
    <md-card-content>
      Advanced feelings, and ultimately the formation of the spirit and consciousness; low-level feelings, can only be reduced to temper and emotions.
    </md-card-content>
  </md-card>
</form>
